---
title: Thumbnail Fit Plugin - v1.0
---

%h1
  jQuery Plugin - Thumbnail Fit

%ul.js-thumbs
  %li
    %img{src: 'http://placekitten.com/g/100/200'}
  %li
    %img{src: 'http://placekitten.com/g/200/100'}
  %li
    %img{src: 'http://placekitten.com/g/200/300'}
  %li
    %img{src: 'http://placekitten.com/g/400/300'}
  %li
    %img{src: 'http://placekitten.com/g/500/200'}

%hr

%h1
  original

%ul.thumbs-original
  %li
    %img{src: 'http://placekitten.com/g/100/200'}
  %li
    %img{src: 'http://placekitten.com/g/200/100'}
  %li
    %img{src: 'http://placekitten.com/g/200/300'}
  %li
    %img{src: 'http://placekitten.com/g/400/300'}
  %li
    %img{src: 'http://placekitten.com/g/500/200'}

%h1
  max-width

%ul.thumbs-auto
  %li
    %img{src: 'http://placekitten.com/g/100/200'}
  %li
    %img{src: 'http://placekitten.com/g/200/100'}
  %li
    %img{src: 'http://placekitten.com/g/200/300'}
  %li
    %img{src: 'http://placekitten.com/g/400/300'}
  %li
    %img{src: 'http://placekitten.com/g/500/200'}

%h1
  object-fit

%ul.thumbs-fit
  %li
    %img{src: 'http://placekitten.com/g/100/200'}
  %li
    %img{src: 'http://placekitten.com/g/200/100'}
  %li
    %img{src: 'http://placekitten.com/g/200/300'}
  %li
    %img{src: 'http://placekitten.com/g/400/300'}
  %li
    %img{src: 'http://placekitten.com/g/500/200'}



